doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scelable=yes, maximum-scale=3.0, minimum-scale=1.0")
        title Repair Design Project
        link(rel="stylesheet", href="css/styles.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css?family=Nunito+Sans|Yeseva+One&display=swap" rel="stylesheet")    
    body 
        .overflowX-hidden
            header.header 
                .header-container.container
                    .logo-container
                        a.logo(href="#") IC "Repair Design Project"
                    nav.navbar 
                        ul.navbar__menu 
                            li.navbar__item
                                a.navbar__link.flowing-scroll(href="#home") Home
                            li.navbar__item 
                                a.navbar__link.flowing-scroll(href="#projects") Projects
                            li.navbar__item
                                a.navbar__link.flowing-scroll(href="#measurement") Measurement
                            li.navbar__item
                                a.navbar__link.flowing-scroll(href="#team") Team
                            li.navbar__item
                                a.navbar__link.flowing-scroll(href="#reviews") Reviews
                            li.navbar__item
                                a.navbar__link.flowing-scroll(href="#contacts") Contacts
                    .connection
                        a.connection__phone.link-phone(href="tel:+380999999999") +38 (099) 999-99-99
                        button.connection__btn.btn.flowing-scroll(href='#questionsForm') Request a call
            main 
                section.home#home
                    .home__container.container
                        .home__content 
                            h1.home__title.title Turnkey Repair in the city of 
                                span.selection Kiev
                            p.home__text Get ready-made turnkey repairs on time with work time saving up to 45 days and 20% from cost of materials due to the organization of work
                            .home__connection 
                                button.home__btn.btn calculate the cost
                                button.home__btn.btn submit your application
                section.projects
                    .projects__container.container#projects
                        ul.projects__nav.animated-element
                            li.projects__item.title.activeSlide Kiev, Admiral
                            li.projects__item.title Kharkiv Thieves
                            li.projects__item.title Khmelnitskiy Patriotic
                        h2.projects-title.projects-title__mobile.title Completed projects
                        p.projects-text.projects-text__mobile Only a small part of the work performed by our company is presented on the site. For 14 years on in the construction market we have made happy more than 1000 families
                        .projects__content
                            .projects__detail
                                .projects__header
                                    h2.projects-title.title.animated-element Completed projects
                                    p.projects-text.animated-element Only a small part of the work performed by our company is presented on the site. For 14 years on in the construction market we have made happy more than 1000 families
                                .projects-description
                                    .projects-description__item.animated-element
                                        h3.projects-description__title.selection.title City:
                                        p.projects-description__text Kiev LCD admir
                                    .projects-description__item.animated-element
                                        h3.projects-description__title.selection.title apartment area:
                                        p.projects-description__text 81 m2
                                    .projects-description__item.animated-element
                                        h3.projects-description__title.selection.title Repair time:
                                        p.projects-description__text 3.5 months
                                    .projects-description__item.animated-element
                                        h3.projects-description__title.selection.title Repair Cost:
                                        p.projects-description__text Upon request
                                .projects-arrows
                                    img.projects-arrow.projects-arrow__left(src="img/projects/arrow.png", alt="arrow")
                                    .projects-dots
                                        span.projects-dots__item.activeSlide
                                        span.projects-dots__item
                                        span.projects-dots__item
                                    img.projects-arrow.projects-arrow__right(src="img/projects/arrow.png", alt="arrow")
                            .projects-photos.slider.animated-element
                                img.projects-photos__img.slides.activeSlide(src="img/projects/projects1.jpg", alt="photo of the completed project")
                                img.projects-photos__img.slides(src="img/projects/projects2.jpg", alt="photo of the completed project")
                                img.projects-photos__img.slides(src="img/projects/projects3.jpg", alt="photo of the completed project")
                section.control
                    .control__container.container 
                        .control__header 
                            h3.control__title.title.animated-element online control
                            .control__icon.icon.animated-element
                                img(src="img/control/control-logo.svg", alt="cam")
                        .control-video.animated-element
                            img(src="img/control/control.jpg", alt="video")
                            span.control-video__play
                        hr.dividing-line
                        p.control-text.animated-element At each facility, a camera is installed that broadcasts the progress of work on the clock. At any time, you can go to our website and monitor the progress of work in your apartment. You can watch the live broadcast from one of our facilities! Leave a request below and you will receive a link to the broadcast.
                        form.control-form.animated-element(action="index.html" method="POST") 
                            .control-form__main
                                label.control-form__label.form-label(for="controlName") Name
                                    input.control-form__input.form-input(type="text" name="controlName" id="controlName" placeholder="What is your name:")
                                label.control-form__label.form-label(for="controlPhone") Phone
                                    input.control-form__input.form-input(type="tel" name="controlPhone" id="controlPhone" placeholder="What is your number:")
                                button.control-form__button.btn Submit
                            .checkbox-container
                                input.checkbox-input(type="checkbox" name="controlCheckbox" id="controlCheckbox")
                                label.control-form__label.form-label.checkbox-label(for="controlCheckbox") I agree to the processing of personal data
                section.types-repair
                    .types-repair__container.container.animated-element#measurement
                        .types-repair__header 
                            h3.types-repair__title.title.animated-element Types of repair
                            .types-repair__icon.icon.animated-element
                                img(src="img/types-repair/types-repair-logo.svg", alt="types repair")
                        .types-repair__content
                            .types-repair__cards
                                .repair-item.animated-element 
                                    .repair-item__img
                                        img(src="img/types-repair/image1.jpg", alt="Redecorating")
                                    .repair-item__content
                                        h4.repair-item__title.title Redecorating
                                        ul.repair-item__text 
                                            li Dismantling of old coatings
                                            li Wallpapering
                                            li Painting walls and ceilings
                                            li Laying flooring
                                            li Replacing plumbing
                                            li Replacing sockets and switches
                                            li Replacing doors
                                        button.repair-item__btn.btn from 900 uah / m2
                                .repair-item.animated-element 
                                    .repair-item__img
                                        img(src="img/types-repair/image2.jpg", alt="Overhaul")
                                    .repair-item__content
                                        h4.repair-item__title.title Overhaul
                                        ul.repair-item__text 
                                            li Dismantling of old coatings
                                            li Wallpapering
                                            li Painting walls and ceilings
                                            li Laying flooring
                                            li Replacing plumbing
                                            li Replacing sockets and switches
                                            li Replacing doors
                                        button.repair-item__btn.btn from 1800 uah / m2
                                .repair-item.animated-element 
                                    .repair-item__img
                                        img(src="img/types-repair/image3.jpg", alt="Designer Repair")
                                    .repair-item__content
                                        h4.repair-item__title.title Designer Repair
                                        ul.repair-item__text 
                                            li Dismantling of old coatings
                                            li Wallpapering
                                            li Painting walls and ceilings
                                            li Laying flooring
                                            li Replacing plumbing
                                            li Replacing sockets and switches
                                            li Replacing doors
                                        button.repair-item__btn.btn from 4000 uah / m2
                section.measurement#team
                    .measurement__container.container
                        .measurement-content 
                            .measurement-content__item.animated-element 
                                .measurement-content__number.title 01
                                .measurement-content__text Our specialist will arrive for measurements per day contact, or appoint a date convenient for you
                            .measurement-content__item.animated-element 
                                .measurement-content__number.title 02
                                .measurement-content__text Free metering
                            .measurement-content__item.animated-element 
                                .measurement-content__number.title 03
                                .measurement-content__text Free consultation
                            .measurement-content__item.animated-element 
                                .measurement-content__number.title 04
                                .measurement-content__text Get a cost estimate and the timing of your future repairs
                        form.measurement-form.animated-element(action="index.html", method="post") 
                            p.measurement-form__title Leave a request for free departure of the measurer
                            .measurement-form__content
                                label.measurement-form__label.form-label(for="measurementFormName") Name
                                input.measurement-form__input.form-input(type="text" id="measurementFormName" placeholder="What is your name:")
                                label.measurement-form__label.form-label(for="measurementFormPhone") Phone
                                input.measurement-form__input.form-input(type="tel" id="measurementFormPhone" placeholder="Your phone number:") 
                                label.measurement-form__label.form-label(for="measurementFormMail") Email
                                input.measurement-form__input.form-input(type="mail" id="measurementFormMail" placeholder="Your email:")
                            .checkbox-container
                                input.checkbox-input(type="checkbox" id="measurementCheckbox")
                                label.form-label.checkbox-label(for="measurementCheckbox") I agree to the processing of personal data
                            p.button-container
                                button.measurement-form__button.btn Call the measurer
                section.sale__container.container
                    .sale__content.animated-element
                        .sale__icon 
                            img(src="img/measurement/sale-icon.svg", alt="sale")
                        .sale__text Help save 10 - 20% of the cost of materials
                section.repair-styles
                    .repair-styles__bg
                        .repair-styles__container.container
                            .repair-styles__content 
                                h3.repair-styles__title.title.animated-element We realize your wildest fantasies
                                a.repair-styles__link.animated-element(href="#") American classic
                                a.repair-styles__link.animated-element(href="#") Empire
                                a.repair-styles__link.animated-element(href="#") Classical
                                a.repair-styles__link.animated-element(href="#") Loft
                                a.repair-styles__link.animated-element(href="#") Minimalism
                                a.repair-styles__link.animated-element(href="#") Provence
                                a.repair-styles__link.animated-element(href="#") Romanticism
                                a.repair-styles__link.animated-element(href="#") Scandinavian style
                                a.repair-styles__link.animated-element(href="#") Mediterranean style
                                a.repair-styles__link.animated-element(href="#") High tech
                                a.repair-styles__link.animated-element(href="#") Eclecticism
                            .styles-photos 
                                .styles-photos__group
                                    img.animated-element(src="img/styles-repair/photo1.jpg", alt="repair styles IC Repair Design Project")
                                    img.animated-element(src="img/styles-repair/photo2.jpg", alt="repair styles IC Repair Design Project")
                                .styles-photos__group
                                    img.animated-element(src="img/styles-repair/photo3.jpg", alt="repair styles IC Repair Design Project")
                                    img.animated-element(src="img/styles-repair/photo4.jpg", alt="repair styles IC Repair Design Project")
                section.clients#reviews
                    .clients__container.container
                        .clients__header 
                            h3.clients__title.title.animated-element our clients
                            .clients__icon.icon.animated-element
                                img(src="img/our-clients/our-clients.svg", alt="our clients")
                            p.clients__text.animated-element 80% of our customers recommend us to their friends and family.
                        .clients__content
                            .clients-item.animated-element 
                                .clients-item__header 
                                    img.clients-item__photo(src="img/our-clients/photo1.jpg", alt="")
                                    h4.clients-item__name.title Fedosova Maria Konstantinovna
                                .clients-item__content 
                                    p.clients-item__text I want to thank the guys for their work. We put your shower part in repair. I am very grateful that I referred to the repair as to my own. Great thanks I express the project to Georgia for its professionalism and approach.
                                    p.clients-item__text The repair process was turned out in terms, faster than anticipated. Team mobile and professional. Works performed qualitatively without comments. Quality satisfied. Prices democratic. I recommend these masters.
                                .clients-item__button
                                    .clients-item__footage.title 40 m2
                                    .clients-item__terms.title 48 DAYS
                            .clients-item.animated-element 
                                .clients-item__header 
                                    img.clients-item__photo(src="img/our-clients/photo2.jpg", alt="")
                                    h4.clients-item__name.title Afanasyev Sergey Alexandrovich
                                .clients-item__content 
                                    p.clients-item__text I want to thank the guys for their work. We put your shower part in repair. I am very grateful that I referred to the repair as to my own. Great thanks I express the project to Georgia for its professionalism and approach.
                                    p.clients-item__text The repair process was turned out in terms, faster than anticipated. Team mobile and professional. Works performed qualitatively without comments. Quality satisfied. Prices democratic. I recommend these masters.
                                .clients-item__button
                                    .clients-item__footage.title 90 м2
                                    .clients-item__terms.title 128 DAYS
                            .clients-item.animated-element 
                                .clients-item__header 
                                    img.clients-item__photo(src="img/our-clients/photo3.jpg", alt="")
                                    h4.clients-item__name.title Kiriev Egor Leonidovich
                                .clients-item__content 
                                    p.clients-item__text I want to thank the guys for their work. We put your shower part in repair. I am very grateful that I referred to the repair as to my own. Great thanks I express the project to Georgia for its professionalism and approach.
                                    p.clients-item__text The repair process was turned out in terms, faster than anticipated. Team mobile and professional. Works performed qualitatively without comments. Quality satisfied. Prices democratic. I recommend these masters.
                                .clients-item__button
                                    .clients-item__footage.title 56 m2
                                    .clients-item__terms.title 86 DAYS
                section.questions-form
                    form.questions-form__container.container#questionsForm(action="index.html", method="post") 
                        h4.questions-form__title.title have any questions?
                        .questions-form__contact
                            .questions-form__row
                                label.questions-form__label.form-label(for="questionsName") Name
                                    input.questions-form__input.form-input(type="text", name="questionsName" id="questionsName" placeholder="What is your name:") 
                                label.questions-form__label.form-label(for="questionsPhone") Phone
                                    input.questions-form__input.form-input(type="tel", name="questionsPhone" id="questionsPhone" placeholder="Your phone number:") 
                            .questions-form__row
                                label.questions-form__label.form-label(for="question") Question
                                    input.questions-form__input.form-input(type="text", name="question" id="question" placeholder="I want to know:") 
                            .checkbox-container
                                input.checkbox-input(type="checkbox" id="questionsCheckbox")
                                label.form-label.checkbox-label(for="questionsCheckbox") I agree to the processing of personal data
                            p.button-container
                                button.questions-form__button.btn Call the measurer
                section.contacts
                    .contacts__container.container.animated-element#contacts
                        h3.title.selection.contact-title Rostov-on-Don, Nansen St., 239 Shopping Center Decorum Tel 
                            a.selection(href="tel:+39287683239") +3 (928) 768-32-39
                        .contacts-social
                            a(href="#") 
                                <img src="img/contacts/mail.svg" alt="">
                            a(href="#") 
                                <img src="img/contacts/ig.svg" alt="">
                        .contact-map 
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5044.3007197368115!2d30.466630691880997!3d50.48591342239612!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cdec53762c3f%3A0x921e13594fcabca3!2sKurenivskyi%20Park!5e0!3m2!1sru!2sua!4v1678122508706!5m2!1sru!2sua" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                footer.footer 
                    .footer-container.container
                        .logo-container
                            a.logo(href="#") IC "Repair Design Project"
                        nav.navbar 
                            ul.navbar__menu 
                                li.navbar__item
                                    a.navbar__link.flowing-scroll(href="#home") Home
                                li.navbar__item 
                                    a.navbar__link.flowing-scroll(href="#projects") Projects
                                li.navbar__item
                                    a.navbar__link.flowing-scroll(href="#measurement") Measurement
                                li.navbar__item
                                    a.navbar__link.flowing-scroll(href="#team") Team
                                li.navbar__item
                                    a.navbar__link.flowing-scroll(href="#reviews") Reviews
                                li.navbar__item
                                    a.navbar__link.flowing-scroll(href="#contacts") Contacts
                        .connection
                            a.connection__phone.link-phone(href="tel:+380999999999") +38 (099) 999-99-99
                            button.connection__btn.btn.flowing-scroll(href='#questionsForm') Request a call
    script(src="js/scripts.js") 